.nav{
    background-image:
    linear-gradient(to bottom, rgba(19,94,103), rgba(0, 0, 0, 0.7)),
    url('../../assets/image/minicofine.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.navbars{
    background-image:
    linear-gradient(to bottom, rgba(7, 142, 206, 100%), rgba(0, 0, 0, 0.7)),
    url('../../assets/image/Mininfra_home.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
};

